section:last-of-type {
  margin-right: 12%;
  align-items: center;

  img:last-of-type {
    display: none;
  }

  img {
    width: 70%;
    object-fit: cover;
    z-index: 2;
    margin-left: -200px;
    transform: translate(-55px, 10px);
    object-fit: cover;
  }

  p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.521);
  }
  @media (max-width: 839.33px) {
    margin-left: 0px;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;

    img {
      display: inline-block;
      width: 450px;
      margin-left: 10px;
      margin-bottom: 40px;
      transform: translate(0, 0);
    }

    img:last-of-type {
      display: inline-block;
    }
    img:first-of-type {
      display: none;
    }

    h5 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}
