@use "header";
@use "section1";
@use "section2";
@use "section3";
@use "footer";
* {
  font-family: "Overpass", sans-serif;
}

body {
  overflow-x: hidden;
}

.container-1 {
  margin: auto 50px;
}
